* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.fill-h {
    height: 100%;
}
.fill-w {
    width: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

/* Flex positions */

.first {
    order: -1;
}
.last {
    order: 12;
}

.left {
    justify-content: flex-start;
}
.center {
    justify-content: center;
}
.right {
    justify-content: flex-end;
}
.top {
    align-items: flex-start;
}
.middle {
    align-items: center;
}
.bottom {
    align-items: flex-end;
}
.between {
    justify-content: space-between;
}
.around {
    justify-content: space-around;
}
.evenly {
    justify-content: space-evenly;
}
.baseline {
    align-items: baseline;
}
.self-top {
    align-self: flex-start;
}
.self-middle {
    align-self: center;
}
.self-bottom {
    align-self: flex-end;
}

/* Columns */

.column-1 {
    flex-basis: 8.333%;
}
.column-2 {
    flex-basis: 16.666%;
}
.column-3 {
    flex-basis: 25%;
}
.column-4 {
    flex-basis: 33.333%;
}
.column-5 {
    flex-basis: 41.666%;
}
.column-6 {
    flex-basis: 50%;
}
.column-7 {
    flex-basis: 58.333%;
}
.column-8 {
    flex-basis: 66.666%;
}
.column-9 {
    flex-basis: 75%;
}
.column-10 {
    flex-basis: 83.333%;
}
.column-11 {
    flex-basis: 91.666%;
}
.column-12 {
    flex-basis: 100%;
}

/* Media */

/* xl, lg, md, sm */

/* XL - extra large */

@media only screen and (max-width:1240px) {

    .container {
        width: 80%;
        margin: 0 auto;
    }

    /* Flex positions */
    
    .first-xl {
        order: -1;
    }
    .last-xl {
        order: 12;
    }
    
    .left-xl {
        justify-content: flex-start;
    }
    .center-xl {
        justify-content: center;
    }
    .right-xl {
        justify-content: flex-end;
    }
    .top-xl {
        align-items: flex-start;
    }
    .middle-xl {
        align-items: center;
    }
    .bottom-xl {
        align-items: flex-end;
    }
    .between-xl {
        justify-content: space-between;
    }
    .around-xl {
        justify-content: space-around;
    }
    .evenly-xl {
        justify-content: space-evenly;
    }
    .baseline-xl {
        align-items: baseline;
    }
    .self-top-xl {
        align-self: flex-start;
    }
    .self-middle-xl {
        align-self: center;
    }
    .self-bottom-xl {
        align-self: flex-end;
    }

    /* Columns */
    
    .column-xl-1 {
        flex-basis: 8.333%;
    }
    .column-xl-2 {
        flex-basis: 16.666%;
    }
    .column-xl-3 {
        flex-basis: 25%;
    }
    .column-xl-4 {
        flex-basis: 33.333%;
    }
    .column-xl-5 {
        flex-basis: 41.666%;
    }
    .column-xl-6 {
        flex-basis: 50%;
    }
    .column-xl-7 {
        flex-basis: 58.333%;
    }
    .column-xl-8 {
        flex-basis: 66.666%;
    }
    .column-xl-9 {
        flex-basis: 75%;
    }
    .column-xl-10 {
        flex-basis: 83.333%;
    }
    .column-xl-11 {
        flex-basis: 91.666%;
    }
    .column-xl-12 {
        flex-basis: 100%;
    }
}

/* LG - large */

@media only screen and (max-width:1100px) {

    .container {
        width: 80%;
        margin: 0 auto;
    }

    /* Flex positions */
    
    .first-lg {
        order: -1;
    }
    .last-lg {
        order: 12;
    }
    
    .left-lg {
        justify-content: flex-start;
    }
    .center-lg {
        justify-content: center;
    }
    .right-lg {
        justify-content: flex-end;
    }
    .top-lg {
        align-items: flex-start;
    }
    .middle-lg {
        align-items: center;
    }
    .bottom-lg {
        align-items: flex-end;
    }
    .between-lg {
        justify-content: space-between;
    }
    .around-lg {
        justify-content: space-around;
    }
    .evenly-lg {
        justify-content: space-evenly;
    }
    .baseline-lg {
        align-items: baseline;
    }
    .self-top-lg {
        align-self: flex-start;
    }
    .self-middle-lg {
        align-self: center;
    }
    .self-bottom-lg {
        align-self: flex-end;
    }

    /* Columns */
    
    .column-lg-1 {
        flex-basis: 8.333%;
    }
    .column-lg-2 {
        flex-basis: 16.666%;
    }
    .column-lg-3 {
        flex-basis: 25%;
    }
    .column-lg-4 {
        flex-basis: 33.333%;
    }
    .column-lg-5 {
        flex-basis: 41.666%;
    }
    .column-lg-6 {
        flex-basis: 50%;
    }
    .column-lg-7 {
        flex-basis: 58.333%;
    }
    .column-lg-8 {
        flex-basis: 66.666%;
    }
    .column-lg-9 {
        flex-basis: 75%;
    }
    .column-lg-10 {
        flex-basis: 83.333%;
    }
    .column-lg-11 {
        flex-basis: 91.666%;
    }
    .column-lg-12 {
        flex-basis: 100%;
    }
}

/* MD - medium */

@media only screen and (max-width:960px) {

    .container {
        width: 80%;
        margin: 0 auto;
    }

    /* Flex positions */
    
    .first-md {
        order: -1;
    }
    .last-md {
        order: 12;
    }
    
    .left-md {
        justify-content: flex-start;
    }
    .center-md {
        justify-content: center;
    }
    .right-md {
        justify-content: flex-end;
    }
    .top-md {
        align-items: flex-start;
    }
    .middle-md {
        align-items: center;
    }
    .bottom-md {
        align-items: flex-end;
    }
    .between-md {
        justify-content: space-between;
    }
    .around-md {
        justify-content: space-around;
    }
    .evenly-md {
        justify-content: space-evenly;
    }
    .baseline-md {
        align-items: baseline;
    }
    .self-top-md {
        align-self: flex-start;
    }
    .self-middle-md {
        align-self: center;
    }
    .self-bottom-md {
        align-self: flex-end;
    }

    /* Columns */
    
    .column-md-1 {
        flex-basis: 8.333%;
    }
    .column-md-2 {
        flex-basis: 16.666%;
    }
    .column-md-3 {
        flex-basis: 25%;
    }
    .column-md-4 {
        flex-basis: 33.333%;
    }
    .column-md-5 {
        flex-basis: 41.666%;
    }
    .column-md-6 {
        flex-basis: 50%;
    }
    .column-md-7 {
        flex-basis: 58.333%;
    }
    .column-md-8 {
        flex-basis: 66.666%;
    }
    .column-md-9 {
        flex-basis: 75%;
    }
    .column-md-10 {
        flex-basis: 83.333%;
    }
    .column-md-11 {
        flex-basis: 91.666%;
    }
    .column-md-12 {
        flex-basis: 100%;
    }
}

/* SM- small */

@media only screen and (max-width:725px) {

    .container {
        width: 80%;
        margin: 0 auto;
    }

    /* Flex positions */
    
    .first-sm {
        order: -1;
    }
    .last-sm {
        order: 12;
    }
    
    .left-sm {
        justify-content: flex-start;
    }
    .center-sm {
        justify-content: center;
    }
    .right-sm {
        justify-content: flex-end;
    }
    .top-sm {
        align-items: flex-start;
    }
    .middle-sm {
        align-items: center;
    }
    .bottom-sm {
        align-items: flex-end;
    }
    .between-sm {
        justify-content: space-between;
    }
    .around-sm {
        justify-content: space-around;
    }
    .evenly-sm {
        justify-content: space-evenly;
    }
    .baseline-sm {
        align-items: baseline;
    }
    .self-top-sm {
        align-self: flex-start;
    }
    .self-middle-sm {
        align-self: center;
    }
    .self-bottom-sm {
        align-self: flex-end;
    }

    /* Columns */
    
    .column-sm-1 {
        flex-basis: 8.333%;
    }
    .column-sm-2 {
        flex-basis: 16.666%;
    }
    .column-sm-3 {
        flex-basis: 25%;
    }
    .column-sm-4 {
        flex-basis: 33.333%;
    }
    .column-sm-5 {
        flex-basis: 41.666%;
    }
    .column-sm-6 {
        flex-basis: 50%;
    }
    .column-sm-7 {
        flex-basis: 58.333%;
    }
    .column-sm-8 {
        flex-basis: 66.666%;
    }
    .column-sm-9 {
        flex-basis: 75%;
    }
    .column-sm-10 {
        flex-basis: 83.333%;
    }
    .column-sm-11 {
        flex-basis: 91.666%;
    }
    .column-sm-12 {
        flex-basis: 100%;
    }
}